.App {
  overflow-x: hidden;
  text-align: center;
  position: relative ;
  height: 100vh;
  overflow-y: scroll;
  @apply bg-light dark:bg-gray-500 bg-opacity-65 dark:bg-opacity-65 min-h-screen
}

/* animations.css */
.fade-enter {
  opacity: 0;
  transform: translateY(-10%);
  }
  .fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
  opacity: 1;
  transform: translateY(0);
  }
  .fade-exit-active {
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 300ms, transform 300ms;
  }
  
